{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FeetBalls</title>

  <!-- Tailwind -->
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Contrail+One&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap" rel="stylesheet">

  <style>
    .font-myfont {
      font-family: "Fugaz One", sans-serif;
    }

    body {
      font-family: "Contrail One", sans-serif;
    }
  </style>
</head>

<body class="bg-gray-100">
  <!-- HEADER -->
  <header id="header" class="sticky top-0 flex justify-between items-center bg-gray-100 px-8 py-4 shadow-md">
    <a href="">
      <p id="title" class="m-0 text-xl font-myfont">FeetBalls</p>
    </a>
    <nav id="nav-bar" class="flex gap-6">
      <a class="text-gray-800 text-base font-light hover:text-blue-500" href="#about">About</a>
      <a class="text-gray-800 text-base font-light hover:text-blue-500" href="#product">Product</a>
      <a class="text-gray-800 text-base font-light hover:text-blue-500" href="#contact">Contact</a>
    </nav>
  </header>

  <!-- HERO -->
  <main>
    <section class="relative h-[70vh] w-full overflow-hidden">
      <img src="https://img.olympics.com/images/image/private//t_s_w2440/f_auto/primary/ngdjbafv3twathukjbq2" alt="olympics" class="w-full h-full object-cover opacity-30">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-black">
        <h1 class="text-5xl mb-2 font-myfont">FeetBalls</h1>
        <p class="text-lg font-light">Beli barang sepak bola kesukaanmu di sini!</p>
      </div>
    </section>
  </main>

  <!-- JS -->
  <script src="{% static 'main/script.js' %}"></script>
</body>
</html>
