{% extends 'base.html' %}
{% load static %}

{% block meta %}
  <title>{{ title }}</title>
{% endblock meta %}

{% block content %}
{% include 'navbar.html' %}
  <!-- HERO -->
  <main>
    <section class="relative h-[70vh] w-full overflow-hidden">
      <img src="https://img.olympics.com/images/image/private//t_s_w2440/f_auto/primary/ngdjbafv3twathukjbq2" alt="olympics" class="w-full h-full object-cover opacity-30">
      <div class="absolute inset-0 flex flex-col items-center justify-center text-center text-black">
        <h1 class="text-7xl mb-3 font-myfont">{{ title }}</h1>
        <p class="text-2xl font-lightc">Buy your favorite football gear here!</p>
      </div>
    </section>

    <section class="relative w-full py-1" id="about">
      <div class="flex flex-col text-center text-black">
        <h2 class="text-5xl mb-4 font-myfont px-8 py-4 shadow-md">About</h2>
        <p class="text-lg font-light m-4 pb-2">
          FeetBalls is a football equipment store that provides everything you need, from shoes, jerseys, balls, to other supporting accessories. We are here for football fans and players who want to get high-quality products at the best prices. With a complete and always updated collection, FeetBalls is the right place for you to look your best on the field, whether for casual training or serious matches.
        </p>
      </div>
    </section>

    <section 
      class="relative w-full border-t border-transparent shadow-[0_-4px_6px_-1px_rgba(0,0,0,0.1)]" 
      id="product"
    >
      <div class="flex flex-col text-center text-black">
        <h2 class="text-5xl mb-4 font-myfont px-8 py-4 shadow-md">Product</h2>
      </div>

      <div class="flex flex-col sm:flex-row sm:items-center sm:justify-between mb-8 bg-white rounded-lg p-4">
      <div class="flex space-x-3 mb-4 sm:mb-0">
        <a href="?" class="{% if request.GET.filter == 'all' or not request.GET.filter  %} bg-blue-500 text-white{% else %}bg-white text-gray-700 border border-gray-300{% endif %} px-4 py-2 rounded-md font-medium transition-colors hover:bg-blue-500 hover:text-white">
          All Product
        </a>
        <a href="?filter=my" class="{% if request.GET.filter == 'my' %} bg-blue-500 text-white{% else %}bg-white text-gray-700 border border-gray-300{% endif %} px-4 py-2 rounded-md font-medium transition-colors hover:bg-blue-500 hover:text-white">
          My Product
        </a>
        <a href="{% url 'main:create_product' %}" class="bg-white text-gray-700 border border-gray-300 px-4 py-2 rounded-md font-medium transition-colors hover:bg-blue-500 hover:text-white">
          <button>Add Product</button>
        </a>
      </div>
      {% if user.is_authenticated %}
        <div class="text-sm text-gray-500">
          Last login: {{ last_login }}
        </div>
      {% endif %}
    </div>

    </section>
      {% if not product_list %}
      <div class="bg-white rounded-lg border border-gray-200 p-12 text-center">
        <div class="w-32 h-32 mx-auto mb-4">
          <img src="{% static 'image/no-product.png' %}" alt="No product available" class="w-full h-full object-contain">
        </div>
        <h3 class="text-lg font-medium text-gray-900 mb-2">No product found</h3>
        <p class="text-gray-500 mb-6">Be the first to share football product with the community.</p>
        <a href="{% url 'main:create_product' %}" class="inline-flex items-center px-4 py-2 bg-green-600 text-white rounded-md hover:bg-green-700 transition-colors">
          Create product
        </a>
      </div>
    {% else %}
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
        {% for product in product_list %}
          {% include 'card_product.html' with product=product %}
        {% endfor %}
      </div>
    {% endif %}
    <section>

    </section>
  </main>

{% endblock content %}
